#Build
src/main/resources/
build/
bin/

#Gradle
.gradle/
build.gradle


#Eclipse
.settings/
_classpath
.classpath
_project
.project
*.class


# Package Files #
*.jar
*.war
*.ear


*.properties
src/main/resources/